*
{
    margin:0%;
}
.inimg
{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    position: relative;
}
.layout
{
    width:100%;
    height: 100%;
}
.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
}
.nav h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color:#008080;
}
body{
    background:linear-gradient(to top left,rgb(149, 255, 149),rgb(255, 249, 190),rgb(142, 212, 229));
    width: 100%;
    height:100vh;
}
.inimg p{
    width:671px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.inimg img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
